<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

<!--        <link rel="stylesheet" href="calc/static/css/normalize.min.css">
        <link rel="stylesheet" href="calc/static/css/main.css">

        <script src="calc/static/js/vendor/modernizr-2.6.2.min.js"></script>  -->
    </head>
    <body>
        <ul id="accountList"></ul>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        <script src="static/js/underscore.js"></script>
        <script src="static/js/json2.js"></script>
        <script src="static/js/backbone.js"></script>
        <script src="static/js/calc.js"></script>
    </body>
</html>
