<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">
body {
    background-color: ##e1f4ff;
}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <img src="/static/img/snowball.png" alt="Snowball" width="30" height="30" style="float:left;margin-right: 6px;margin-top:4px;">
                    <a href="#" class="brand">Snowball</a>
                    <ul class="nav">
                        <li><a href="#">Accounts</a></li>
                        <li><a href="#">Transactions</a></li>
                        <li><a href="#">Debt Snowball</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    {% block body %}
                    <p>index.html</p>
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <!-- Backbone libraries -->
        <script src="static/js/underscore.js"></script>
        <script src="static/js/json2.js"></script>
        <script src="static/js/backbone.js"></script>
        <script src="static/js/backbone-tastypie.js"></script>

        <!-- Custom libraries -->
        <script src="static/js/templates.js"></script>
        <script src="static/js/calc.js"></script>
    </body>
</html>
